<HTML>
    <HEAD>
    <TITLE> leftbar.html</TITLE>
    </HEAD>
    <BODY bgcolor=white text=black link=black vlink=black>
    <br>
    <H2 align=center><b>HJ's BLOG</b></H2>
    <br><br><br>
    <A href="profile.html" target="main"><p align=center>PROFILE</p></A>
    <A href="portfolio.html" target="main"><p align=center>PORTFOLIO</p></A>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <P align=center>
    [<A href="main.html" target="main">MAIN</A>]</P>
    </BODY>
    </HTML>