<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="nav_bar">
    </header>
    <div class="title">
        <h1>Tech Blog</h1>
        <h2>풀스택을 목표로!</h2>
    </div>
    <div class="contents">
        <ul class="techs">
            <li>Java</li>
            <li>Python</li>
            <li>Django</li>
            <li>Spring</li>
            <li>Docker</li>
            <li>알고리즘</li>
            <li>OS</li>
        </ul>
        <div class="posts">
            <div class="django">
                <img src="./images/django.png">
                <p>장고 설치 및 개발환경 설정</p>
            </div>
            <div class="baekjoon">
                <img src="./images/baekjoon.png">
                <p>백준 2470 두 용액(이분탐색)</p>
            </div>
            <div class="docker">
                <img src="./images/docker.png">
                <p>Docker 기초</p>
            </div>
        </div>
        <table class="calendar" border="2" align="center">
            <tr>
                <td><div><</div></td>
                <td align="center" colspan="5">yyyy년 m월</td>
                <td><div>></div></td>
            </tr>
            <tr>
                <td class="sunday" align="center">일</td>
                <td align="center">월</td>
                <td align="center">화</td>
                <td align="center">수</td>
                <td align="center">목</td>
                <td align="center">금</td>
                <td class ="saturday" align="center">토</td>
            </tr>
            <tr>
                <td class="sunday" align="center">1</td>
                <td align="center">2</td>
                <td align="center">3</td>
                <td align="center">4</td>
                <td align="center">5</td>
                <td align="center">6</td>
                <td class ="saturday" align="center">7</td>
            </tr>
            <tr>
                <td class="sunday" align="center">8</td>
                <td align="center">9</td>
                <td align="center">10</td>
                <td align="center">11</td>
                <td align="center">12</td>
                <td align="center">13</td>
                <td class ="saturday" align="center">14</td>
            </tr> 
            <tr>
                <td class="sunday" align="center">15</td>
                <td align="center">16</td>
                <td align="center">17</td>
                <td align="center">18</td>
                <td align="center">19</td>
                <td align="center">20</td>
                <td class ="saturday" align="center">21</td>
            </tr>
            <tr>
                <td class="sunday" align="center">22</td>
                <td align="center">23</td>
                <td align="center">24</td>
                <td align="center">25</td>
                <td align="center">26</td>
                <td align="center">27</td>
                <td class ="saturday" align="center">28</td>
            </tr> 
        </table>
    </div>
</body>
</html>