<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <style>
        body{text-align: center;}
    </style>
</head>
<body>
    <h1>Blog Project</h1>
    <div class="container">
    {% for web in webs %}
        <div>
        <h1>{{web.title}}</h1>
        {{web.web_id}}
        {{web.writer}}
        {{web.summary}} <a href = "{% url 'detail' web.id %}">...more</a>
        <br>
        </div>
    {% endfor %}
    </div>
</body>
</html>