body {
    background-color: white;
    
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.div_wrapper {
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    margin: 8vh 0;
}

.icon {
    width: 15vw;
    height: 15vw;
    background-color: black;
    font-size: 1.2vw;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 0 2vw;

    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
    cursor:pointer;
    
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.5);
}

.icon_cover {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1.6vw;
    border-radius: 50%;
    line-height: 50vh;
    text-align: center;
    color: white;
    opacity: 0%;
    user-select: none;
    transition: all .2s ease-in-out;
    font-family: Nanum Gothic;
}
.icon_cover:hover{
    opacity: 100%;
}

#thornapple {
    background-image: URL(../resource/icon_thornapple.jpg);
}
#jannabi {
    background-image: URL(../resource/icon_jannabi.jpg);
}

#sesoneon {
    background-image: URL(../resource/icon_sesoneon.jpg);
}
#hyukoh {
    background-image: URL(../resource/icon_hyukoh.jpg);
}