body{
    background-color:#222;
    color:white;
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}

#wrapp{
    width:80%;
    margin: 0 auto;
    display: inline-block;
}

.nevi{
    /*border: medium solid red;*/
    padding-top: 20px;
    padding-bottom: 60px;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
}

li{
    float:left;
    padding:15px;
}

.intro{
    float:right;
    font-size: x-large;
}

.contents{
    color:black;
    margin: 0 auto;
    display: inline-block;
    width:80%;
    height:900px;
    background-color: rgba(255, 255, 255, 0.65);
    padding:20px
}

.menuLink{
    text-decoration : none;
    color:white;
}