<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django 첫 페이지</title>
</head>

<body>
    <p>님들 ㅎㅇ여</p>
    <a href="{% url 'detail' %}"><button>To Detail</button></a>
    <br>
    <form action="abc">
        <label for="nameInput">ㅊㅇ이름 : </label>
        <input id="nameInput" name="name">
        <input type="submit" value="제출">
    </form>

</body>

</html>