<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>5week_daeun</title>
</head>
<body>
    <div id=wrapp>
        <div class="nevi">
            <nevigator>
                <ul>
                    <li>menu 1</li>
                    <li>menu 2</li>
                    <li>menu 3</li>
                    <li>menu 4</li>
                    <li>menu 5</li>
                    <li class="intro">daeun's blog</li>
                </ul>
            </nevigator>
        </div>
        <div class="contents">
            <h2>this is main page</h2>
        </div>
    </div>
</body>
</html>